
/* 
=======================================================================================================
                                        DEFAULT
=======================================================================================================
*/

/* Disable select */
body{
    min-height: 100vh;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

body{
    background-color: #ffffff;
}

/* headings and paragraphs */
h1, h2, h3, h4, h5, h6, p, div, body {
    margin:0;
    padding:0;
    border:none;
}
ul{
    list-style: none;
    padding: 0;
}


/* anchor tags */
a{
    text-decoration: none;
}

/* tables */
th,td{
    white-space: nowrap;
}

/* images*/
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
legend{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
label{
    min-width: 33%;
}

/* 
=======================================================================================================
                                          NAVBAR
=======================================================================================================
*/

/* Navbar toggler */
.bi-list{
    font-size: 40px;
}
.navbar-toggler{
   border: none !important;
}
.navbar-toggler:active{
    border: none !important;
    box-shadow: none;
 }
 .navbar-toggler:focus{
    border: none !important;
    box-shadow: none;
 }

 /* 
=======================================================================================================
                                             OFFCANVAS SIDE BAR NAV
=======================================================================================================
*/

.offcanvas{
    width: 250px !important;

}
.offcanvas-body-header{
    margin-bottom: 30px;
    height: 60px;
}
 /* 
=======================================================================================================
                                             FULL SCREEN
=======================================================================================================
*/

/* full screen back button & icon */
.btn-back{
    background-color: #293f50;
    color: white;
    border: none;
}
.btn-back:active{
    color: grey;
}
.bi-arrow-left{
    font-size: 28px;
}
.full-screen-header{
    background-color: #293f50;;
    color: white;
    font-size: 10px;
    height: 55px;
}

/* 
=======================================================================================================
                                             MAIN CONTENT
=======================================================================================================
*/

.sidebar-toggler{
    border: none;
    background-color: none;
}
/* Logo Header */
.header-logo{
    height: 50px;
}

/* @media all and (min-width: 1024px) {
    body{
        min-height: 100.05vh;
    }
} */


/* 
=======================================================================================================
                                             FOOTER
=======================================================================================================
*/

/* footer styles */
/* footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
} */

.table-scroll {
    position: relative;
    z-index: 1;
    overflow: auto;
  }

  .table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: rgb(255, 255, 255);
  }
 
  thead th:first-child,
  tfoot th:first-child {
    z-index: 5;
  }

/* 
=======================================================================================================
                                             SIDE BAR
=======================================================================================================
*/
.sidebar{
    min-height: 100vh;
}


/* 
=======================================================================================================
                                             OPPORTUNITY DASHBOARD
=======================================================================================================
*/
.dp-large-wrapper{
    position: relative;
    height: 115px;
    margin-bottom: 30px;
}

.dp-large{
    position: absolute;
    top: -15%;
    
    width:150px;
    height: 150px;
}


.tab-link-underline{
    border-bottom: 2px solid blue;
    padding-top: 0px;
    transition: transform 0.3s;
}
.active{
    color: blue;
    font-weight: bolder !important;
}
.tab-link{
    padding: 0px;
    cursor: pointer;
    font-weight: lighter;

}
.card{
    height: 120px;
    width: 48.5% !important;
    border-radius: 15px;
}
.card-opp{
    height: 150px !important;
}
.card-worth{
    height: 150px;
    width: 100% !important;
}
.cards-invested .card{
    width: 48% !important;
}
.card-inv{
    width:49.4% !important;
}
.caption{
    font-size: 14px;
}
.tab{
    opacity:0;
    transition: opacity 0.2s;
}
.account-dash-tab, .summary-tab, .tab, .current-inv-tab{
    opacity:1;
    transition: opacity 0.2s;
}
.lead{
    font-size: 22px;
}
.btn-submit{
    margin-top: 40px;
}
.inv-summary-item-key{
    width: 200px;
}
.opp-summary-key{
    width: 200px;
}
.btn-search{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    border: none!important;
}
.btn-search:active, .btn-search:focus, .btn-search:hover{
    background-color: none !important;
    border: none !important;
}
.btn-back-search{
    background-color: white;
    color: black;
}


.search-input{
    border: none !important;
    box-shadow: none !important;
}
.search-input:active .search-input:focus{
    border: none !important;
    box-shadow: none !important;
}
.bi-x-lg{
    color: grey;
    font-weight: bolder;
}

.dash-inv-icons .bi-coin{
    font-size: 12px;
    color: rgb(39, 33, 2);
}
/* .dash-inv-icons .bi-arrow-down, .dash-inv-icons .bi-arrow-up{
    
} */
.dash-icons-opp, .dash-icons-account{
    margin-right: 14px;
    padding-left: 14px;;
}
.bi-person, .bi-lightbulb{
    font-size: 20px;
}
.a-logout{
    width: 200px;
    margin-bottom: 90px !important;
}

.card-worth{
    margin-bottom: 2%;
}
.bi-bell-fill{
    font-size: 16px;
    position: relative;
    right: 15px;
    width: 0;
    bottom: 9px;
}
.new-badge{
    font-size: 8px;
    left: 19px !important;
}
.opp-name{
    margin-right: 4px !important;
    width: 75px !important;
}
.opp-amount{
    margin-right: 13px !important;
}
.bi-clock{
    color: orange;
    font-size: 13px;

}
.opp-badge{
    font-size: 9px;
}

.search-dash-header, .search-dash-header .bi{
    color: green;
}



.btn-clear{
    border: none;
    padding: 9px;
    margin-left: 25px !important;
    border-radius: 50%;
}
.target{
    background-color: rgb(168, 167, 167) !important;
   
}


.target ul li{
    background-color: rgb(168, 167, 167) !important;
}

.custom-active{
    background-color: rgb(168, 167, 167) !important;
   
}
.search-category{
    width: 90px !important;
    margin-right: 15px !important;
}
.search-text{
    
    margin-left: 10px !important;
}
.list-group li{
    cursor: pointer
}
.hr-opp{
    margin-top: 19px !important;
}


@media screen and (min-width: 768px) {
    .main-content{
        margin-left: 25%;
    }
    .sidebar{
        position: fixed;
    }
 
}

.pending-opp-tab li{
    cursor: auto !important;
}

.img-modal{
    width: 30px;
    height: 30px;
}
.modal-header{
    color: green;
}
.modal-lead{
    font-size: 20px;
}

tbody th:first-child{
    font-weight: 400;
}


/* 
=======================================================================================================
                                             THEME
=======================================================================================================
*/
/* .bg-1{
    background-color: #64729d;
    background-color: #293f50;
    background-color: rgb(134, 184, 241);
    color: white;
} */
/* .bg-1 .bi{
    color: white;
}
.bg-1 .bi-list{
    color: grey
} */

.card{
    border-color: rgba(193, 228, 241, 0.5);
}




.list-group-item:hover{
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.list-group-item{
    margin-bottom: 4px;
}
#opp-opp .list-group-item{
    margin-bottom: 1px;
}
.card{
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.2);
    border-color:rgba(0, 0, 0, 0.2) ;
}
